body{
	font-family: Helvetica, Geneva, Arial, sans-serif;
	font-size: small;
	font-color: #000;
	background-color: #fff;
}

a:link, a:active, a:visited {
	color: #CD0000;
}

h1{
	letter-spacing: 3px;
	border:1px solid khaki; 
	background: oldlace;
}

#flash {
	border:1px solid red;
	background: red;
}

b{
	border:1px solid khaki; 
	background: oldlace;	
}

p{ 
	line-height: 150%;
	letter-spacing: 2px;
}


