<%= render :partial => "common/login_info" %> 


<h1 style="border:solid khaki 1px; background: oldlace;">討 論 區</h1>
<p>
    <%= link_to("回 到 後 台 管 理 討 論 區", admin_boards_path) %> 
</p>
<p>
    討 論 區 名 稱 : <%= @board.name %>
</p>

