# SQLite version 3.x
#   gem install sqlite3
development:
   adapter: mysql2
   encoding: utf8
   reconnect: false
   database: forum_development
   pool: 5
   username: root
   password: "123456"
   host: localhost