<p><%= link_to("回到後台管理文章區", admin_posts_path) %></p>

<h1>標題 : <%= @post.subject %></h1>
<p><b>內容</b> :<%= simple_format(@post.content) %></p>
<p>
    <% @post.categories.each do |category| %>
        <b>類型:</b> <%= category.name %><br>
    <% end %>
</p>

