<h1>編輯討論區名稱</h1>

<%= form_for @board, :url => board_path(@board), :html => {:method => :put}  do |f| %>
    <%= render :partial => "common/form_board", :locals => { :f => f }%>
    <%= f.submit "更新" %>
<% end %>
