<h1>討論區</h1>

<% if current_user %>
    <p>
        <%= link_to("新增類別", new_category_path) %>
    </p>
<% end %>

<ul>
    <% @boards.each do |board| %>
    <li>
        <b>
            <%= link_to(board.name, board_posts_path(board)) %>
            <!--each board should show its posts count.!-->
            <small>(<%= pluralize board.posts.size, "post" %>)</small>
        </b>
    </li>
	<% end %>
</ul>



