<h1>討論區</h1>
<p>
    <% if current_user %>
            <%= link_to("新文章", new_board_post_path(@board)) %> |
    <% end %>
    <%= link_to("回到討論區", boards_path) %> 
</p>
<p>
    討 論 區 名 稱 : <%= @board.name %>
</p>

