<%= render :partial => "common/login_info" %> 


<h1 style="border:solid khaki 1px; background: oldlace;">討 論 區</h1>

<% if current_user%>
    <p>
        <%= link_to("新 文 章", new_board_post_path(@board)) %> |
        <%= link_to("討 論 區", boards_path) %> 
    </p>
<% end %>

<p>
    討 論 區 名 稱 : <%= @board.name %>
</p>

