<p><%= link_to("Back to index", board_posts_path) %></p>

<p>Subject : <%= @post.subject %></p>
Content :<%= simple_format(@post.content) %>

<% @post.categories.each do |category| %>
    Category :<%= category.name %><br>
<% end %>


