<h1>編輯類別名稱</h1>

<%= form_for @category, :url => category_path(@category), :html => {:method => :put}  do |f| %>
    <%= render :partial => "common/form_category", :locals => {:f => f}%>
    <%= f.submit "更新" %>
<% end %>
